@use '@/styles/color' as *;
@use '@/styles/font' as *;

body {
  margin: 0;
  font-family:
    'NotoSansTC',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
  width: 100%;
  height: 100vh;
  color: $third;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  height: auto;
  padding: 0px;
  margin: 0px;
  @include Format();
  cursor: default;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: transparent;

    &:hover {
      background-color: $primary1;
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-track-piece {
    background: transparent;

    &:hover {
      background: $secondary2;
      cursor: pointer;
    }
  }
}

:root {
  --white: #fff;
  --black: #000;
  --breakpoint905: 905px;
}

:root[data-theme='LIGHT'] {
  --primary: #6a6b65;
  --primary1: #a89985;
  --primary2: #cfc1ab;
  --primary3: #efe9db;

  --secondary: #d7be9f;
  --secondary1: #f5e9e6;
  --secondary2: #faf4f2;

  --third: #354449;
  --third1: #4c484f;
  --third2: #797b99;

  --background: #fff;
}

:root[data-theme='DARK'] {
  --primary: #6a6b65;
  --primary1: #a89985;
  --primary2: #cfc1ab;
  --primary3: #efe9db;

  --secondary: #d7be9f;
  --secondary1: #f5e9e6;
  --secondary2: #faf4f2;

  --third: #354449;
  --third1: #4c484f;
  --third2: #797b99;

  --background: #000;
}
